.multiselect__select, .multiselect__placeholder, .multiselect__tags, .multiselect__input {
  @apply bg-gray-200;
}

.multiselect__tag {
  @apply my-0;
  @apply mr-1;
  @apply bg-gray-400;
}

.multiselect__tag-icon:hover {
  @apply bg-red-500;
  @apply text-white;
}

.multiselect__tag-icon:after {
  @apply text-gray-700;
  transition: ease .2s;
}

.multiselect__select {
  transition: none;
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.header-link {
  @apply cursor-pointer;
  @apply px-3;
  @apply py-1;
}

.header-link:hover {
  @apply font-black;
  @apply bg-gray-800;
}

